<div>
    <h2>Formulário de Cadastro</h2>
    <label for="nome">Nome:</label><br>
    <input type="nome" id="nome" [(ngModel)]="nome" />
    <br>
    <label for="email">E-mail:</label><br>
    <input type="email" id="email" [(ngModel)]="email" />
    <br>
    <label for="senha">Senha:</label><br>
    <input type="password" id="senha" [(ngModel)]="senha" /><br><br>
    <div [ngClass]="{'success': mensagem.includes('Cadastro feito corretamente'), 'error': mensagem.includes('Erro ao cadastrar')}">{{mensagem}}</div>
    <br>
    <button (click)="validaCadastro()">Fazer Cadastro</button>
  </div>